

<div class="row">
<div class="col-md-4">
<h1>Hola {{nombre}}</h1>
<form>
	Nombre: <input type="text" ng-model="nombre">
</form>
</div>
<div class="col-md-4">
<hr>
Model  + ngClick
<div ng-init="pensamientos =[];">
  Agrega un pensamiento : 
  <input type="text" ng-model="nuevoPensamiento">
  <input type="button" value="Agregar" ng-click="pensamientos.push(nuevoPensamiento);nuevoPensamiento='';">
  <input type="button" value="Agregar" ng-click="campoSelect='1';">
</div>
<h2>Pensamientos que has tenido</h2>
 <p ng-repeat="p in pensamientos" ng-init="paso=$index;">
{{ paso }}.- {{p}}  {{campoSelect}}<br>
 <p>
 <select ng-model="campoSelect">
 	<option value="uno">1</option>
 	<option value="dos">2</option>
 </select>
<hr>
</div>
<div class="col-md-4">
<h1>Controller </h1>
 <div ng-controller="miappCtrl as vm">
 	coloca algo : {{vm.algo}}
 </div>
 <hr>
 <h1>sumar</h1>
 <div ng-controller="miappCtrlOp as vm">
 		<input type="text" ng-model="nuevo">
 		<input type="button" value="+" ng-click="vm.sumar(nuevo);">
 		<input type="button" value="-" ng-click="vm.restar(nuevo);">
 		<p>
 		 el Valor : {{vm.valor}}
 		</p>
 </div>
 <hr>
</div>
<div class="col-md-4">
 <h1>ng-class<h1>
 <div ng-controller="miappCtrlClass as vm">
 <h1 ng-class="vm.tamTitular">Acumulado<h1>
 <select ng-model="vm.tamTitular">
 	<option value="titularpeq">1</option>
 	<option value="titulargran">2</option>
 </select>  
  <p ng-class="{positivo : vm.total > 10 , negativo :vm.total < 3}">
    estado {{vm.total}}
  </p>
  <input type="text"  ng-model="vm.valor">
  <input type="button" value="+" ng-click="vm.sumar(vm.valor)">
  <input type="button" value="-" ng-click="vm.restar(vm.valor)">
 </div>
</div>
<div class="col-md-4">
<div ng-controller="AlertCtrl as vm" >
  <input type="text"  ng-model="vm.mensaje">
      <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn btn-default' ng-click="vm.addAlert(vm.mensaje)">Add Alert</button>
</div>

 <div ng-controller="miappCtrlApi as vm">
  <input type="button" value="llamar" ng-click="vm.llamarAPI();">
 </div>
</div>
</div>

<!--script type="text/javascript" src="/js/dependencies/ui-bootstrap-tpls-0.13.0.min.js"></script-->
<script type="text/javascript"> 
	angular.module('miapp',['ui.bootstrap'])
	.controller('miappCtrl',mostrarAlgo) 
	.controller('miappCtrlOp',operaciones)
	.controller('miappCtrlClass',clases)
  .controller('AlertCtrl',mensajeAlert)
	//.controller('miappCtrlApi',['$http',apiAjax]); //injectar
	.controller('miappCtrlApi',apiAjax);
  //angular.module('myModule', ['ui.bootstrap']);

    function mostrarAlgo(){
    	var scope = this;
    	scope.algo = "Hola Angular, usando controller más simple";
    }
    function operaciones($scope){
    	var scope = this;
    	scope.valor=0;
    	scope.sumar = function(v){
    		scope.valor+=parseInt(v);
    		//console.log(v);
    	}
    	scope.restar= function(v){
    		scope.valor-=parseInt(v);
    	}
    }
    function clases(){
    	var scope = this;
    	scope.total=0;
    	scope.sumar = function(v){
    		scope.total+=parseInt(v);
    		//console.log(v);
    	}
    	scope.restar= function(v){
    		scope.total-=parseInt(v);
    	}

    }
    function mensajeAlert($scope,$http){
      var scope= this;
      scope.mensaje="nulo";
      scope.alerts=[
       { type:'danger',msg:'peligroso'},
       { type:'success',msg:'positivo'}
      ];
      scope.closeAlert= function(index){
        scope.alerts.splice(index,1);
      }
      scope.addAlert=function(msg){
        scope.alerts.push({type:'info',msg:msg});
      }
    }


    function apiAjax($scope,$http){
    	var scope =this;

    	scope.llamarAPI = function(){
    		console.log("asas");
    	var url = 'http://api.randomuser.me/';
    	$http.get(url).success(function(respuesta){
            console.log(respuesta);
            //vm.cervezas = respuesta.beers;
        });
    	}
    	
    }

</script>
